body {
    padding-top: 60px;
    padding-bottom: 40px;
}
        
/* Roster */
.roster .depth-1 .header {
    font-size: 170%;
    font-weight: bold;
    border-bottom: 5px black solid;
}
.roster .depth-2 .header {
    font-size: 150%;
    font-weight: bold;
    border-bottom: 3px black solid;
}
.roster .depth-3 .header {
    font-size: 120%;
    font-weight: bold;
    border-bottom: 1px black solid;
}
.roster .depth-4 .header {
    font-size: 110%;
    padding-left: 30px;
}
.roster .depth-5 .header {
    font-size: 110%;
    padding-left: 50px;
}
.roster .depth-6 .header {
    font-size: 110%;
    padding-left: 70px;
}
.roster .header a {
    color: #000;
}
/*.roster .depth-4 .header-row {
    display: none;
}*/
.roster .unit {
    padding-top: 15px;
}
.roster .abbr {
    font-weight: bold;
}
.roster .abbr a {
    color: #000;
}
.roster .count {
    font-size: 80%;
}
.roster label a {
    font-weight: normal;
}

/* Collapsible Roster */
/*.roster .depth-2 > div:not(.header-row) {
    display: none;
}*/
.roster .collapsed > div:not(.header-row) {
    display: none;
}
.roster .collapsed > .header-row > .header > .icon-expanded {
    display: none;
}
.roster .unit:not(.collapsed) > .header-row > .header > .icon-collapsed {
    display: none;
}

/* Qualifications */
.qualification {
    list-style-type: none;
}
.qualification small {
    color: #999999;
}
.cursor {
    cursor: pointer;
}

/* Collapsible qualifications */
/*.roster .depth-2 > div:not(.header-row) {
    display: none;
}*/
.weapon .collapsed > div:not(.header-row) {
    display: none;
}
.weapon .collapsed > .header-row > .header > .icon-expanded {
    display: none;
}
.weapon .weapon:not(.collapsed) > .header-row > .header > .icon-collapsed {
    display: none;
}

/* Member Profile */
.member .title {
    font-size: 200%;
    font-weight: bold;
}
.member #page {
    margin-top: 20px;
}
.member .assignments {
    list-style-type: none;
    padding: 0;
}

/* Unit Profile */
.unit .title {
    font-size: 200%;
    font-weight: bold;
}
.unit #page {
    margin-top: 20px;
}
.unit .title abbr {
    color: #999999;
    font-size: 65%;
    font-weight: normal;
}

.badge-inactive {
    opacity:0.2;
}

/* LOA Buttons */
#loa-buttons.loa-post #loa-cancel {
    display: none;
}
#loa-buttons.loa-cancel #loa-post {
    display: none;
}

/* NProgress */
#nprogress .bar,
#nprogress .spinner {
    margin-top: 50px;
    z-index: 0;
}

/* Calendar */
.fc-event {
    cursor: pointer;
}

/* Flash / Error */
#flash {
    position: fixed;
    top: 60px;
    /*width: 100%;*/
    text-align: center;
}
#flash .alert {
    display: inline-block;
}

/* Service Coat */
.coat { max-width: 100%; }

#vanilla-comments iframe {
    width: 100%;
    min-height: 500px;
    border: none;
    margin: 0;
    padding: 0;
}