body {
    padding-top: 60px;
    padding-bottom: 40px;
}
        
/* Roster */
.roster .depth-1 .header {
    font-size: 170%;
    font-weight: bold;
    border-bottom: 5px black solid;
}
.roster .depth-2 .header {
    font-size: 150%;
    font-weight: bold;
    border-bottom: 3px black solid;
}
.roster .depth-3 .header {
    font-size: 120%;
    font-weight: bold;
    border-bottom: 1px black solid;
}
.roster .depth-4 .header-row {
    display: none;
}
.roster .unit {
    padding-top: 15px;
}
.roster .abbr {
    font-weight: bold;
}
.roster .count {
    font-size: 80%;
}
.roster label a {
    font-weight: normal;
}

/* Member Profile */
.member .title {
    font-size: 200%;
    font-weight: bold;
}
.member #page {
    margin-top: 20px;
}
.member .assignments {
    list-style-type: none;
    padding: 0;
}

/* NProgress */
#nprogress .bar,
#nprogress .spinner {
    margin-top: 50px;
}

/* Loading indicator from jQuery Mobile */
.loading .loader { display: block; }
.loader {
    display: none;
    z-index: 9999999;
    position: fixed;
	top: 50%;
	left: 50%;
	border:0;
	background: none;
	filter: Alpha(Opacity=18);
	opacity: .18;
	width: 46px;
	height: 46px;
	margin-left: -23px;
	margin-top: -23px;
}
.loader .icon {
	background-color: #000;
	background: url(../images/ajax-loader.gif);
	background-size: 46px 46px;
	display: block;
	margin: 0;
	width: 44px;
	height: 44px;
	padding: 1px;
	-webkit-border-radius: 36px;
	-moz-border-radius: 36px;
	border-radius: 36px;
}