body {
    padding-top: 60px;
    padding-bottom: 40px;
}
        
/* Roster */
.roster .depth-1 .header {
    font-size: 170%;
    font-weight: bold;
    border-bottom: 5px black solid;
}
.roster .depth-2 .header {
    font-size: 150%;
    font-weight: bold;
    border-bottom: 3px black solid;
}
.roster .depth-3 .header {
    font-size: 120%;
    font-weight: bold;
    border-bottom: 1px black solid;
}
.roster .depth-4 .header-row {
    display: none;
}
.roster .unit {
    padding-top: 15px;
}
.roster .abbr {
    font-weight: bold;
}
.roster .count {
    font-size: 80%;
}
.roster label a {
    font-weight: normal;
}

/* Member Profile */
.member .title {
    font-size: 200%;
    font-weight: bold;
}
.member #page {
    margin-top: 20px;
}
.member .assignments {
    list-style-type: none;
    padding: 0;
}

/* NProgress */
#nprogress .bar,
#nprogress .spinner {
    margin-top: 50px;
}

/* Calendar */
.fc-event {
    cursor: pointer;
}