PERSONNEL_DB_DATABASE=
PERSONNEL_DB_HOSTNAME=
PERSONNEL_DB_USERNAME=
PERSONNEL_DB_PASSWORD=
PERSONNEL_DB_PORT=

FORUMS_DB_DATABASE=
FORUMS_DB_HOSTNAME=
FORUMS_DB_USERNAME=
FORUMS_DB_PASSWORD=
FORUMS_DB_PORT=

PERSONNEL_ENCRYPTION_KEY=
FORUMS_COOKIE_SALT=
FORUMS_UPDATE_TOKEN=
FORUMS_MAIL_SMTP_HOSTNAME=
FORUMS_MAIL_SMTP_USERNAME=
FORUMS_MAIL_SMTP_PASSWORD=
FORUMS_MAIL_SMTP_PORT=
FORUMS_MAIL_SMTP_SECURITY=
FORUMS_CAPTCHA_PRIVATE_KEY=
FORUMS_CAPTCHA_PUBLIC_KEY=

PORTAINER_ADMIN_PASSWORD=
