SetEnv ENVIRONMENT 'development'

SetEnv DB_DEFAULT_DATABASE 'personnel_v2'
SetEnv DB_DEFAULT_HOSTNAME 'localhost'
SetEnv DB_DEFAULT_USERNAME 'root'
SetEnv DB_DEFAULT_PASSWORD ''
SetEnv DB_DEFAULT_PORT '3306'

SetEnv ENCRYPTION_KEY 'fRVa7CPUSjjT'

SetEnv DB_FORUMS_DATABASE 'vanilla'
SetEnv DB_FORUMS_HOSTNAME 'localhost'
SetEnv DB_FORUMS_USERNAME 'root'
SetEnv DB_FORUMS_PASSWORD ''

SetEnv VANILLA_COOKIE_NAME 'Vanilla'
SetEnv VANILLA_COOKIE_DOMAIN ''
SetEnv VANILLA_COOKIE_PATH '/'
SetEnv VANILLA_COOKIE_HASH_METHOD 'md5'
SetEnv VANILLA_COOKIE_SALT 'KagnrUm6A27I'

SetEnv CAPTCHA_PRIVATE_KEY ''
SetEnv CAPTCHA_PUBLIC_KEY ''
SetEnv SYSTEM_USER_ID '1'