{
  email wilson@29th.org
  acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

# Redirect http to https
http:// {
  redir https://{host}{uri} permanent
}

www.29th.local {
  tls /etc/caddy/certs/29th.local.crt /etc/caddy/certs/29th.local.key

  redir /forums /forums/

  reverse_proxy /forums* 29th.dreamhosters.com:443 {
    header_up Host 29th.dreamhosters.com
    header_up X-Real-IP {http.request.remote.host}
    header_up X-Forwarded-For {http.request.remote.host}
    header_up X-Forwarded-Port {http.request.port}
    header_up X-Forwarded-Proto {http.request.scheme}

    transport http {
      tls
    }
  }

  reverse_proxy 29th.github.io:443 {
    header_up +Host 29th.github.io
    header_up +X-Forwarded-Proto https

    transport http {
      tls
    }
  }
}

personnel.29th.local {
  tls /etc/caddy/certs/29th.local.crt /etc/caddy/certs/29th.local.key
  reverse_proxy app:8080
}

api.29th.local {
  tls /etc/caddy/certs/29th.local.crt /etc/caddy/certs/29th.local.key
  reverse_proxy api:80 {
    header_up Host {http.request.remote.host}
    header_up X-Real-IP {http.request.remote.host}
    header_up X-Forwarded-For {http.request.remote.host}
    header_up X-Forwarded-Port {http.request.port}
    header_up X-Forwarded-Proto {http.request.scheme}
  }
}

forums.29th.local {
  tls /etc/caddy/certs/29th.local.crt /etc/caddy/certs/29th.local.key
  reverse_proxy forums:80
}
