{
  acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

# Redirect http to https
http:// {
  redir https://{host}{uri} permanent
}

29th.local {
  tls /etc/caddy/certs/29th.local.crt /etc/caddy/certs/29th.local.key
  redir https://www.{host}{uri} permanent
}

www.29th.local {
  tls /etc/caddy/certs/29th.local.crt /etc/caddy/certs/29th.local.key
  reverse_proxy homepage:80
}

personnel.29th.local {
  tls /etc/caddy/certs/29th.local.crt /etc/caddy/certs/29th.local.key
  reverse_proxy app:8080
}

api.29th.local {
  tls /etc/caddy/certs/29th.local.crt /etc/caddy/certs/29th.local.key
  reverse_proxy api:80
}

forums.29th.local {
  tls /etc/caddy/certs/29th.local.crt /etc/caddy/certs/29th.local.key
  reverse_proxy forums:80
}
