<form role="form">

    <div class="form-group">
        <label for="recruiter_member_id">Member</label>
        <select class="form-control selectpicker" name="member_id" id="member_id" data-live-search="true">
            {{#select member.id}}
            <option value="">Select...</option>
            {{#each units}}
            <optgroup label="{{ this.abbr }}">
                {{#each this.members}}
                <option value="{{ this.id }}">{{ this.short_name }}</option>
                {{/each}}
            </optgroup>
            {{/each}}
            {{/select}}
        </select>
    </div>
    
    <div class="form-group">
        <label for="unit_id">Unit</label>
        <select class="form-control selectpicker" name="unit_id" id="unit_id" data-live-search="true">
            {{#select unit.id}}
            <option value="">Select...</option>
            {{#each units}}
            <option value="{{ this.id }}">{{ this.abbr }}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    <div class="form-group">
        <label for="position_id">Position</label>
        <select class="form-control selectpicker" name="position_id" id="position_id" data-live-search="true">
            {{#select position.id}}
            <option value="">Select...</option>
            {{#each positions}}
            <option value="{{ this.id }}">{{ this.name }}{{#is this.access_level ">=" 1}} (Leadership){{/is}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    
    <div class="form-group">
        <label for="start_date">Start Date</label>
        <input type="text" class="form-control" id="start_date" name="start_date" value="{{ start_date }}" data-provide="datepicker" data-date-format="yyyy-mm-dd">
    </div>
    
    <div class="form-group">
        <label for="end_date">End Date</label>
        <input type="text" class="form-control" id="end_date" name="end_date" value="{{ end_date }}" data-provide="datepicker" data-date-format="yyyy-mm-dd">
    </div>
    
    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
</form>