<h1>Associate Your Account</h1>
{{#if id}}
<div class="alert alert-info" role="alert">Your account is associated</div>
{{else}}
    {{#if forum_member_id}}
        <button id="btn-associate" class="btn btn-large">Associate</button>
        {{#is response.status "!==" undefined}}
            {{#is response.status "===" true}}
                <div class="alert alert-success" role="alert">Your account has been successfully associated and you have been added to {{length response.roles}} forum groups. Please note that your forum username has been automatically changed and will change any time your rank changes - It is therefore advised that you login with your email address instead.</div>
            {{else}}
                <div class="alert alert-danger" role="alert">{{ response.error }}</div>
            {{/is}}
        {{/is}}
    {{else}}
        You need to <a href="{{ forum.Vanilla.baseUrl }}{{ forum.Vanilla.signInPath }}">login</a> first, then return to this page.
    {{/if}}
{{/if}}