<form role="form">
    <div class="form-group">
        <label for="unit_id">Unit</label>
        <select class="form-control selectpicker" name="unit_id" id="unit_id" data-live-search="true">
            {{#select unit_id}}
            <option value="">Select...</option>
            {{#each tps}}
            <option value="{{ this.id }}">
                {{ this.abbr }}
                {{#if this.game }}({{ this.game }}){{/if}}
                {{#if this.timezone }}({{ this.timezone }}){{/if}}
            </option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    
    <div class="form-group">
        <label for="status">Status</label>
        <select class="form-control" name="status" id="status">
            {{#select status}}
            <option value="">Select...</option>
            <option value="Pending">Pending</option>
            <option value="Accepted">Accepted</option>
            <option value="Denied">Denied</option>
            <option value="Withdrawn">Withdrawn</option>
            {{/select}}
        </select>
    </div>
    
    <div class="form-group">
        <label for="recruiter_member_id">Recruiter</label>
        <!--<input type="text" class="form-control" name="recruiter_member_id" id="recruiter_member_id" value="{{ recruiter_member_id }}">-->
        <select class="form-control selectpicker" name="recruiter_member_id" id="recruiter_member_id" data-live-search="true">
            {{#select recruiter_member_id}}
            <option value="">Select...</option>
            {{#each units}}
            <optgroup label="{{ this.abbr }}">
                {{#each this.members}}
                <option value="{{ this.member.id }}">{{ this.member.short_name }}</option>
                {{/each}}
            </optgroup>
            {{/each}}
            {{/select}}
        </select>
        <p class="help-block">{{#if recruiter}}Applicant wrote: {{ recruiter }}{{/if}}</p>
    </div>
    
    {{#if allowedTo.assignLiaison}}
    <div class="form-group">
        <label for="liaison_member_id">Liaison</label>
        <select class="form-control selectpicker" name="liaison_member_id" id="liaison_member_id" data-live-search="true">
            {{#select liaison_member_id}}
            <option value="">Select...</option>
            {{#each units}}
            <optgroup label="{{ this.abbr }}">
                {{#each this.members}}
                <option value="{{ this.member.id }}">{{ this.member.short_name }}</option>
                {{/each}}
            </optgroup>
            {{/each}}
            {{/select}}
        </select>
    </div>
    {{/if}}
    
    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
</form>