<div class="panel panel-default">
    <div class="panel-heading">
        <h2>{{ weapon }}</h2>
        <div>
            <ul class="nav nav-tabs pull-right">
                {{#each children}}
                <li><a href="#" data-toggle="tab">{{ this.badge }}x</a></li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div class="tab-panel active" id="tab1">Test content</div>
        </div>
    </div>
</div>
{{debug}}