<div class="row header">
    <div class="col-sm-1"><img src="images/ranks/60x60/{{ rank.filename }}.png" title="{{ rank.name }}"></div>
    <div class="col-sm-9">
        <div class="title">{{ rank.name }} {{ full_name }}</div>
        <ul class="assignments">
            <li>{{ position.name }}, <a href="#units/{{ unit.key }}">{{ unit.name }}</a></li>
            {{#each assignments}}
                <li>{{ this.position.name }}, <a href="#units/{{ this.unit.key }}">{{this.unit.name }}</a></li>
            {{/each}}
        </ul>
    </div>
    <div class="col-sm-2" id="admin"></div>
</div>
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li{{#if_eq highlight compare="profile"}} class="active"{{/if_eq}} data-highlight="profile"><a href="#members/{{ id }}">Profile</a></li>
            <li{{#if_eq highlight compare="servicerecord"}} class="active"{{/if_eq}} data-highlight="servicerecord"><a href="#members/{{ id }}/servicerecord">Service Record</a></li>
            <li{{#if_eq highlight compare="attendance"}} class="active"{{/if_eq}} data-highlight="attendance"><a href="#members/{{ id }}/attendance">Attendance</a></li>
            <li{{#if_eq highlight compare="qualifications"}} class="active"{{/if_eq}} data-highlight="qualifications"><a href="#members/{{ id }}/qualifications">Qualifications</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" id="page"></div>
</div>