{{#or (length permissions) (length memberPermissions) }}
<div class="btn-group pull-right">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Admin <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        {{#or (if_inarray 'profile_edit' compare=memberPermissions) (if_inarray 'profile_edit_any' compare=permissions) }}
            <li><a href="#members/{{ member_id }}/edit">Modify Profile</a></li>
        {{/or}}
    </ul>
</div>
{{/or}}