<div class="panel panel-default">
    <div class="panel-heading"><h2>Profile</h2></div>
    <div class="panel-body panel-no-padding">
    
        <table class="table">
            <tr>
                <th>Active Class{{#is classes.length ">" 1}}es{{/is}}</th>
                <td>{{join classes delimiter=", "}}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>
                    {{#if this.country.abbr}}<img src="images/countries/{{ toLowerCase this.country.abbr }}.png" title="{{ this.country.name }}">{{/if}} {{ country.name }}
                </td>
            </tr>
            <tr>
                <th>Steam ID</th>
                <td>{{#if steam_id}}<a href="http://steamcommunity.com/profiles/{{ steam_id }}" target="_blank">{{ steam_id }}</a>{{/if}}</td>
            </tr>
            {{#is forum_member_id "!==" "0"}}
            <tr>
                <th>Forum Profile</th>
                <td><a href="{{ forum.Vanilla.baseUrl }}{{ sprintf forum.Vanilla.profilePath forum_member_id short_name_url }}">View Profile</a></td>
            </tr>
            {{/is}}
        </table>
        
    </div>
</div>