<ul class="nav navbar-nav">
    <li{{#if_eq highlight compare="roster"}} class="active"{{/if_eq}} data-highlight="roster"><a href="#">Roster</a></li>
    <li{{#if_eq highlight compare="calendar"}} class="active"{{/if_eq}} data-highlight="calendar"><a href="#calendar">Calendar</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
    {{#if short_name}}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ short_name }} <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
        </ul>
    </li>
    {{/if}}
</ul>