<ul class="nav navbar-nav">
    <li{{#is highlight "===" "forums"}} class="active"{{/is}} data-highlight="forums"><a href="{{ forumUrl }}">Forums</a></li>
    <li{{#is highlight "===" "roster"}} class="active"{{/is}} data-highlight="roster"><a href="#">Roster</a></li>
    {{#is 'event_view_any' "in" permissions}}
    <li{{#is highlight "===" "calendar"}} class="active"{{/is}} data-highlight="calendar"><a href="#calendar">Calendar</a></li>
    {{/is}}
    <li{{#is highlight "===" "enlistments"}} class="active"{{/is}} data-highlight="enlistments"><a href="#enlistments">Enlistments</a></li>
</ul>
    
<ul class="nav navbar-nav navbar-right">
    
    {{#if forum_member_id}}
        {{#unless classes}}
        <li{{#is highlight "===" "enlist"}} class="active"{{/is}} data-highlight="enlist"><a href="#enlist">{{#if short_name}}Re-{{/if}}Enlist</a></li>
        {{/unless}}
    {{else}}
        <li><a href="{{ forumUrl }}/entry/signin">Sign In</a></li>
    {{/if}}
    
    {{#if short_name}}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ short_name }} <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#members/{{ id }}">Personnel File</a></li>
            <li><a href="{{ forumUrl }}/profile/{{ forum_member_id }}/{{ short_name }}">Forum Profile</a></li>
        </ul>
    </li>
    {{/if}}
</ul>

<form class="navbar-form navbar-right" role="search">
    <select class="form-control selectpicker span2" name="search" id="search" data-live-search="true">
        <option value="" data-content="<span class='glyphicon glyphicon-search'></span>">Search</option>
        {{#each units}}
        <option value="units/{{ this.id }}" data-content="<span class='search-unit'>{{ this.abbr }}</span>">{{ this.abbr }}</option>
            {{#each this.members}}
            <option value="members/{{ this.id }}">{{ this.short_name }}</option>
            {{/each}}
        <option data-divider="true"></option>
        {{/each}}
    </select>
</form>