{{#each items}}
    <hr>
    <h1>{{ @key }}</h1>
    {{#each this}}
      <div class="row">
       <div class="col-sm-6">
        {{#unless_eq @key compare="N/A"}}<h3>{{ @key }}</h3>{{/unless_eq}}
        <ul>
        {{#each this}}
            <li style="list-style-type: none">
                {{#if this.qualification.id}}
                    <span class="glyphicon glyphicon-check"></span>
                {{else}}
                    <span class="glyphicon glyphicon-unchecked"></span>
                {{/if}}
                {{ this.description }}
            </li>
        {{/each}}
        </ul>
       </div>
       <div class="col-sm-6">
         
           <img src='images/badges/{{this.aqb_path}}.gif' {{#unless this.aqb}}class='badge-inactive' {{/unless}}>
        
       </div>
      </div>    
    {{/each}}
{{/each}}