{{#each items}}
    <h1>{{ @key }}</h1>
    {{#each this}}
        {{#unless_eq @key compare="N/A"}}<h3>{{ @key }}</h3>{{/unless_eq}}
        <ul>
        {{#each this}}
            <li style="list-style-type: none">
                {{#if this.qualification.id}}
                    <span class="glyphicon glyphicon-check"></span>
                {{else}}
                    <span class="glyphicon glyphicon-unchecked"></span>
                {{/if}}
                {{ this.description }}
            </li>
        {{/each}}
        </ul>
    {{/each}}
{{/each}}