{{#each items}}
    <hr>
    <h1 class="row header-row"> {{ @key }} <small>({{this.percentage}}%)</small></h1>
    {{#each this}}
      {{#is @key "!==" 'percentage'}}
      <div class="row">
       <div class="col-sm-6">
        {{#is @key "!==" "N/A"}}<h3>{{ @key }}</h3>{{/is}}
        <ul>
        {{#each this}}
            <li style="list-style-type: none">
                {{#if this.qualification.id}}
                    <span class="glyphicon glyphicon-check"></span>
                {{else}}
                    <span class="glyphicon glyphicon-unchecked"></span>
                {{/if}}
                {{ this.description }}
            </li>
        {{/each}}
        </ul>
       </div>
       <div class="col-sm-6">
         
           <img src='images/badges/{{this.aqb_path}}.gif' {{#unless this.aqb}}class='badge-inactive' {{/unless}}>
        
       </div>
      </div>
     {{/is}} 
    {{/each}}
{{/each}}