<div class="dd-handle">
    <a href="#units/{{ key }}">{{ name }}</a>
    {{#if members.length}}
    <span class="badge badge-info pull-right">{{ members.length }}</span>
    {{/if}}
</div>

<ol class="dd-list">
{{#if members.length}}
    {{#each members}}
    <li>
        {{#if this.rank.filename}}<img src="images/ranks/16x16/{{ this.rank.filename }}.png" title="{{ this.rank.name }}">{{/if}}
        <a href="#members/{{ this.id }}">{{ this.short_name }}</a>
        <span class="roster-unit">{{ position.name }}</span>
    </li>
    {{/each}}
{{/if}}
</ol>