<div class="row">
    <div class="col-sm-6">
{{#each items}}
    <h3>{{#unless_eq this.date compare="undefined"}}{{dateFormat this.date format="ll"}}{{else}}Unknown{{/unless_eq}}</h3>
    {{#each this.items }}
        {{#if this.position}}
            <li>
              Assigned to <a href="#/units/{{ this.unit.key }}" title="{{this.unit.name}}">{{#if_eq this.unit.class compare="Staff" }}{{ this.unit.name}}{{else}}{{ this.unit.abbr }}{{/if_eq}}</a> as a {{ this.position.name }}
              {{#if_eq this.unit.class compare="Staff" }}{{#if this.end_date}} (until {{dateFormat this.end_date format="ll"}}){{/if}}{{/if_eq}}
            </li>
        {{/if}}
        {{#if this.new_rank}}
            <li>
              <img src="images/ranks/16x16/{{ new_rank.filename }}.png" title="{{ rank.name }}">{{#unless_lt this.new_rank.order compare=this.old_rank.order}}Promoted{{else}}Demoted{{/unless_lt}} to {{ this.new_rank.name }}
            </li>
        {{/if}}
        {{#if this.award}}
            <li> <img src="images/awards/{{#award_img_name this.award.abbr}}{{/award_img_name}}.gif" title="{{ this.award.name }}"> Awarded {{ this.award.name }}</li>
        {{/if}}
        {{#if this.status}}
            <li><a href="#enlistments/{{ this.id }}">Enlisted</a>{{#if this.unit_id}} in the <a href="#units/{{ this.unit.key }}">{{ this.unit.abbr }}</a>{{/if}}</li>
        {{/if}}
        {{#if this.type}}
            <li>
            {{#if_eq this.type compare='Honorable'}}Honorably{{/if_eq}}
            {{#if_eq this.type compare='Dishonorable'}}Dishonorably{{/if_eq}}
            {{#if_eq this.type compare='General'}}Generaly{{/if_eq}}
            <a href="#discharges/{{ this.id }}">Discharged</a></li>
        {{/if}}
    {{/each}}
{{/each}}
    </div>
    <div class="col-sm-6">
    {{#if steam_id}}<a href="{{ coatDir }}/{{ steam_id }}.png"><img src="{{ coatDir }}/{{ steam_id }}.png" class="coat"></a>{{/if}}
    </div>
</div>