<div class="btn-group" id="filter-days">
    <button type="button" class="btn btn-default{{#or (if_eq days compare=30) (if_eq days compare="") }} active{{/or}}" data-days="30">30 Days</button>
    <button type="button" class="btn btn-default{{#if_eq days compare=60}} active{{/if_eq}}" data-days="60">60 Days</button>
    <button type="button" class="btn btn-default{{#if_eq days compare=90}} active{{/if_eq}}" data-days="90">90 Days</button>
</div>

{{#each items}}
    <h3><a href="#members/{{ this.member.id }}">{{ this.member.short_name }}</a> <small>({{ this.events.length }})</small></h3>
    <ul>
    {{#each this.events}}
        <li><a href="#events/{{ this.id }}">{{dateFormat this.datetime format="ll HH:mm"}} {{ this.type }}</a></li>
    {{/each}}
    </ul>
{{/each}}