<form role="form">
    <div class="form-group">
        <label for="unit_id">Unit</label>
        <select class="form-control" name="unit_id" id="unit_id">
            {{#select unit.id}}
            <option value="">Select...</option>
            {{#each units}}
            <option value="{{ this.id }}">{{ this.abbr }}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    <div class="form-group">
        <label for="position_id">Position</label>
        <select class="form-control" name="position_id" id="position_id">
            {{#select position.id}}
            <option value="">Select...</option>
            {{#each positions}}
            <option value="{{ this.id }}">{{ this.name }}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    
    <div class="form-group">
        <label for="start_date">Start Date</label>
        <input type="text" class="form-control" id="start_date" name="start_date" value="{{ start_date }}" data-provide="datepicker" data-date-format="yyyy-mm-dd">
    </div>
    
    <div class="form-group">
        <label for="end_date">End Date</label>
        <input type="text" class="form-control" id="end_date" name="end_date" value="{{ end_date }}" data-provide="datepicker" data-date-format="yyyy-mm-dd">
    </div>
    <div class="form-group">
        <label for="access_level">Access Level</label>
        <select class="form-control" name="access_level" id="access_level">
            {{#select access_level}}
            <option value="">Select...</option>
            <option value="0">Default</option>
            <option value="1">Elevated</option>
            {{/select}}
        </select>
    </div>
    
    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
</form>