<div class="btn-group" id="filter-status">
    <button type="button" class="btn btn-default active" data-status="">All</button>
    <button type="button" class="btn btn-default" data-status="pending">Pending</button>
    <button type="button" class="btn btn-default" data-status="accepted">Accepted</button>
    <button type="button" class="btn btn-default" data-status="denied">Denied</button>
    <button type="button" class="btn btn-default" data-status="withdrawn">Withdrawn</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Status</th>
            <th>Unit</th>
            <th>Name</th>
            <th>Liaison</th>
        </tr>
    </thead>
    <tbody id="rows"></tbody>
</table>

<button class="btn btn-large btn-block more" type="button" data-loading-text="Loading" data-error-text="Error">More</button>