<div class="dd-handle">
    <a href="#units/{{ key }}">{{ name }}</a>
    {{#if members.length}}
    <span class="badge badge-info pull-right">{{ members.length }}</span>
    {{/if}}
</div>

<ol class="dd-list">
{{#if members.length}}
    {{#each members}}
    <li>
        <label>
            <input type="checkbox" name="attendance" value="{{ this.id }}"{{#if this.attended}} checked="checked"{{/if}}>
            <a href="#members/{{ this.id }}">{{ this.short_name }}</a>
            {{#if this.excused}}<span class="label label-warning">Excused</span>{{/if}}
        </label>
    </li>
    {{/each}}
{{/if}}
</ol>