<div class="panel panel-default">
  <div class="panel-heading">
     <h2>Add/Edit assignment</h2>
  </div>
  <div class="panel-body">
  <form role="form">
    <div class="form-group">
        <label for="unit_id">Unit</label>
        <select class="form-control selectpicker" name="unit_id" id="unit_id" data-live-search="true">
            {{#select unit.id}}
            <option value="">Select...</option>
            {{#each units}}
            <option value="{{ this.id }}">{{ this.abbr }}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    <div class="form-group">
        <label for="position_id">Position</label>
        <select class="form-control selectpicker" name="position_id" id="position_id" data-live-search="true">
            {{#select position.id}}
            <option value="">Select...</option>
            {{#each positions}}
            <option value="{{ this.id }}">{{ this.name }}{{#is this.access_level "===" "1"}} (Leadership){{/is}}{{#is this.access_level "===" "2"}} (Elevated){{/is}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    
    <div class="form-group">
        <label for="start_date">Start Date</label>
        <input type="text" class="form-control" id="start_date" name="start_date" value="{{ start_date }}" data-provide="datepicker" data-date-format="yyyy-mm-dd">
    </div>
    
    <div class="form-group">
        <label for="end_date">End Date</label>
        <input type="text" class="form-control" id="end_date" name="end_date" value="{{ end_date }}" data-provide="datepicker" data-date-format="yyyy-mm-dd">
    </div>
    
    {{#if assignments}}
    <div class="form-group">
        <label for="former_assignment_id">Transfer From</label>
        <select class="form-control selectpicker" name="former_assignment_id" id="former_assignment_id" data-live-search="true">
            <option value="">None</option>
            {{#each assignments}}
            <option value="{{ this.id }}">{{ this.unit.abbr }} ({{ this.position.name }})</option>
            {{/each}}
        </select>
    </div>
    {{/if}}
    
    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
  </form>
  </div>
</div