<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Ban Logs</h2>
        <br>
        <input type="text" class="form-control search_pattern" id="search_pattern" name="search_pattern" value="" width="40">
        <button type="button" id="search_btn" class="btn btn-default searcher">Search ROID, Handle or Reason</button>
        {{#if allowedTo.addBanLog}}
        <button type="button" id="add_banlog" class="btn btn-default add_banlog">Add New Ban Log</button>
        {{/if}}
    </div>
    <div class="panel-body">

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>In Game Name</th>
                        <th>ROID</th>
                        <th>Admin banning</th>
                        <th>Reason</th>
                    </tr>
                </thead>
                <tbody id="rows"></tbody>
            </table>
        </div>

        <button class="btn btn-large btn-block more" type="button" data-loading-text="Loading" data-error-text="Error">More</button>
    </div>
</div>