<div class="panel panel-default">
  <div class="panel-heading">
     <h2>Enlistment</h2>
  </div>
  <div class="panel-body">
  <form role="form">
    
    <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" name="first_name" id="first_name" value="{{#if first_name}}{{ first_name }}{{else}}{{userdata.first_name}}{{/if}}">
        <p class="help-block error-msg"></p>
    </div>
    
    <div class="form-group">
        <label for="middle_name">Middle Initial</label>
        <input type="text" class="form-control" name="middle_name" id="middle_name" value="{{#if middle_name}}{{ middle_name }}{{else}}{{userdata.middle_name}}{{/if}}">
        <p class="help-block error-msg"></p>
    </div>
    
    <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" name="last_name" id="last_name" value="{{#if last_name}}{{ last_name }}{{else}}{{userdata.last_name}}{{/if}}">
        <p class="help-block">Please use your real name or a realistic sounding name.</p>
        <p class="help-block error-msg"></p>
    </div>
    
    <div class="form-group">
        <label for="age">Age</label>
        <select class="form-control" name="age" id="age">
            {{#select age}}
            <option value="">Select...</option>
            <option value="Under 13">Under 13</option>
            {{#each ages}}
            <option value="{{ this }}">{{ this }}</option>
            {{/each}}
            {{/select}}
        </select>
        <p class="help-block error-msg"></p>
    </div>
    
    <div class="form-group">
        <label for="country_id">Country</label>
        <select class="form-control" name="country_id" id="country_id">
          {{#if country_id}}
            {{#select country_id}}
            <option value="">Select...</option>
            {{#each countries}}
            <option value="{{ this.id }}">{{ this.name }}</option>
            {{/each}}
            {{/select}}
          {{else}}
            {{#select userdata.country.id}}
            <option value="">Select...</option>
            {{#each countries}}
            <option value="{{ this.id }}">{{ this.name }}</option>
            {{/each}}
            {{/select}}
          {{/if}}
        </select>
        <p class="help-block error-msg"></p>
    </div>
    
    <div class="form-group">
        <label for="timezone">Preferred Time</label>
        <select class="form-control" name="timezone" id="timezone">
            {{#select timezone}}
            <option value="">Select...</option>
            <option value="EST">7pm EST (Midnight GMT)</option>
            <option value="PST">6pm PST (2am GMT)</option>
            <option value="GMT">2pm EST (7pm GMT)</option>
            <option value="Any">Any</option>
            {{/select}}
        </select>
        <p class="help-block">Which time do you prefer for practicing? (Give or take an hour)</p>
        <p class="help-block error-msg"></p>
    </div>
    
    <div class="form-group">
        <label for="game">Game</label>
        <select class="form-control" name="game" id="game">
            {{#select game}}
            <option value="">Select...</option>
            <option value="Arma 3">Arma 3</option>
            <option value="RS2">Rising Storm 2: Vietnam</option>
            <option value="Squad">Squad</option>
            {{/select}}
        </select>
        <p class="help-block">Which game are you enlisting in?</p>
        <p class="help-block error-msg"></p>
    </div>
    
    <div class="form-group">
        <label for="ingame_name">In-Game Name</label>
        <input type="text" class="form-control" name="ingame_name" id="ingame_name" value="{{ ingame_name }}">
        <p class="help-block">What name do you play with?</p>
        <p class="help-block error-msg"></p>
    </div>
    
    <div class="form-group">
        <label for="steam_id">Steam ID</label>
        <input type="text" class="form-control" name="steam_id" id="steam_id" value="{{#if steam_id}}{{ steam_id }}{{else}}{{userdata.steam_id}}{{/if}}">
        <p class="help-block">Your Steam Identification Number. <a href="http://29th.org/roid" target="_blank">Click here for help</a>.</p>
        <p class="help-block">Verified Steam ID: <b></b></p>
    </div>
    
    <div class="form-group">
        <label for="experience">Previous units</label>
        <table class="table units-table" id="units-table">
            <thead>
                <tr><th> Unit </th><th> Game </th><th> Name </th><th> Rank </th><th> Reason for leaving </th> <th> &nbsp; </th>
            </thead>
            <tbody>
        {{#each previous_units}}
                <tr>
                    <td><input type="text" class="form-control" name="units[{{@index}}][unit]" id="units[unit]" value="{{unit}}"></td>
                    <td>
                        <select class="form-control" name="units[{{@index}}][game]" id="units[game]">
                            {{#select game}}
                            <option value="">Select...</option>
                            <option value="Arma 2">Arma 2</option>
                            <option value="Arma 3">Arma 3</option>
                            <option value="DH">Darkest Hour</option>
                            <option value="DOD">Day of Defeat</option>
                            <option value="DODS">Day of Defeat: Source</option>
                            <option value="RO">Red Orchestra</option>
                            <option value="RO2">Red Orchestra 2</option>
                            <option value="RS">Rising Storm</option>
                            <option value="RS2">Rising Storm 2: Vietnam</option>
                            <option value="SQ">Squad</option>
                            {{/select}}
                        </select>
                    </td>
                    <td><input type="text" class="form-control" name="units[{{@index}}][name]" id="units[name]" value="{{name}}"></td>
                    <td><input type="text" class="form-control" name="units[{{@index}}][rank]" id="units[rank]" value="{{rank}}"></td>
                    <td><input type="text" class="form-control" name="units[{{@index}}][reason]" id="units[reason]" value="{{reason}}"></td>
                    <td><button type="button" class="btn btn-default btn-remove"> - </button></td>
                </tr>
        {{/each}}
            </tbody>
        </table>
        <button type="button" class="btn btn-default btn-add">Add new line</button>
        <p class="help-block">List all previous units you took part in.</p>
        <p class="help-block error-msg"></p>
    </div>
    
    <div class="form-group">
        <label for="experience">Realism Experience</label>
        <textarea class="form-control" rows="3" name="experience" id="experience">{{ experience }}</textarea>
        <p class="help-block">If you have ever been in a realism unit(s), what one(s), what rank(s), and name(s) have you used? Why are you no longer with the unit(s)? Please provide all this information to ensure acceptance. If you've never been in a realism unit, simply write "None".</p>
        <p class="help-block error-msg"></p>
    </div>
    
    <div class="form-group">
        <label for="recruiter">Who Recruited You?</label>
        <input type="text" class="form-control" name="recruiter" id="recruiter" value="{{ recruiter }}">
        <p class="help-block">What was the name of the 29th member who asked you to enlist? If you were not recruited by someone, how did you find out about the 29th Infantry Division?</p>
        <p class="help-block error-msg"></p>
    </div>
    
    <div class="form-group">
        <label for="comments">Other Comments</label>
        <textarea class="form-control" rows="3" name="comments" id="comments">{{ comments }}</textarea>
        <p class="help-block error-msg"></p>
    </div>
    
    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
  </form>
  </div>
</div>
