<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Enlistment - {{ first_name }} {{#if middle_name}}{{ substring middle_name 0 1 }}. {{/if}}{{ last_name }}</h2>

        {{#if allowedTo.admin}}
        <div class="panel-ctrls">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Admin <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                {{#if allowedTo.processEnlistment}}
                    <li><a href="#enlistments/{{ id }}/process">Process Enlistment</a></li>
                {{/if}}
                
                {{#if allowedTo.modifyEnlistment}}
                    <li><a href="#enlistments/{{ id }}/edit">Modify Enlistment</a></li>
                {{/if}}
                
                {{#if allowedTo.modifyProfile}}
                    <li><a href="#members/{{ member.id }}/edit">Modify Profile</a></li>
                {{/if}}
                </ul>
            </div>
        </div>
        {{/if}}
    </div>
    <div class="panel-body">

        <div class="enlistment-status">
            <span class="label label-{{ enlistment_label status }}">{{ status }}</span>
            {{#if member.id}}- <a href="#members/{{ member.id }}">{{ member.short_name }}</a>{{/if}}
            {{#if unit.id}}- <a href="#units/{{ unit.key }}">{{ unit.abbr }}</a>{{/if}}
        </div>

        <table class="table table-horizontal">
            <tr>
                <th>Date</th>
                <td>{{ dateFormat date }}</td>
            </tr>
            <tr>
                <th>Liaison</th>
                <td>{{#if this.liaison.id }}<a href="#members/{{ this.liaison.id }}">{{ this.liaison.short_name }}</a>{{/if}}</td>
            </tr>
            <tr>
                <th>First Name</th>
                <td>{{ first_name }}</td>
            </tr>
            <tr>
                <th>Middle Name</th>
                <td>{{ middle_name }}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{ last_name }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ age }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ country.name }}</td>
            </tr>
            <tr>
                <th>Preferred Time</th>
                <td>{{ timezone }}</td>
            </tr>
            <tr>
                <th>Game</th>
                <td>{{ game }}</td>
            </tr>
            <tr>
                <th>In-Game Name</th>
                <td>{{ ingame_name }}</td>
            </tr>
            <tr>
                <th>Steam ID</th>
                <td>{{#if steam_id }} <a href="http://steamcommunity.com/profiles/{{steam_id}}" target="_blank">{{steam_id}}</a> {{/if}}</td>
            </tr>
{{#if forum_steam_id}}
            <tr>
                <th>Verified Steam ID</th>
                <td><a href="http://steamcommunity.com/profiles/{{forum_steam_id}}" target="_blank">{{forum_steam_id}}</a></td>
            </tr>
{{/if}}
            <tr>
                <th>Realism Experience</th>
                <td>{{ experience }}</td>
            </tr>
            <tr>
                <th>Previous units</th>
                <td>
{{#if previous_units}}    
                    <table class="table">
                        <thead>
                            <tr><th> Unit </th><th> Game </th><th> Name </th><th> Rank </th><th> Reason for leaving </th>
                        </thead>
                        <tbody>
        {{#each previous_units}}
                            <tr><td>{{unit}}</td><td>{{game}}</td><td>{{name}}</td><td>{{rank}}</td><td>{{reason}}</td></tr>
        {{/each}}
                        </tbody>
                    </table>
{{else}}
                    No units defined
{{/if}}
                </td>
            </tr>
            <tr>
                <th>Recruiter</th>
                <td>{{#if this.recruiter_member_id }}<a href="#members/{{ this.recruiter_member_id }}">{{/if}}{{ recruiter }}{{#if this.recruiter_member_id }}</a>{{/if}}</td>
            </tr>
            <tr>
                <th>Other Comments</th>
                <td>{{ comments }}</td>
            </tr>
        </table>
    </div>
</div>

{{#if allowedTo.processEnlistment}}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Additional info</h2>
    </div>
    <div class="panel-body">
        <table class="table table-horizontal">
{{#if this.is_restricted}}
            <tr colspan='2'>
                <td>
                <center><div class='label label-danger'>This last name is on <b>Historic Names List</b> and can not be used!</div></center>
                </td>
            </tr>
{{/if}}
{{#if this.email}}
            <tr>
                <th>E-Mail</th>
                <td>
                {{this.email}}
                </td>
            </tr>
{{/if}}
{{#if this.bday}}
            <tr>
                <th>Birthday</th>
                <td>
                {{ dateFormat this.bday format="Do MMMM YYYY"}} (age: {{ forums_age }}) {{#is (multiply (subtract forums_age age) (subtract forums_age age)) ">" "1"}} <span class='label label-danger'>Warning! Age missmatch</span> {{/is}}
                </td>
            </tr>
{{/if}}
{{#if this.ips}}
            <tr>
                <th>IPs</th>
                <td>
                {{#each ips}}
                    {{this.ip}}
                    {{#if users}} 
                        used also by:
                        {{#each users}}
                            [<a href="{{ forum_profile_url Name }}">{{Name}}</a>]
                        {{/each}}
                    {{/if}}
                    <br>
                {{/each}}
                </td>
            </tr>
{{/if}}

            <tr>
                <th>Banlogs</th>
                <td>
                {{#if this.banlogs}}
                    {{#each banlogs}}{{this.date}} <b><a href='#banlogs/{{this.id}}'>{{this.handle}}</a></b><br>{{/each}}
                {{else}}
                    No ban logs found for that ROID.
                {{/if}}
                </td>
            </tr>

{{#if this.other_members}}
            <tr>
                <th>Other members by that name</th>
                <td>
                {{#each other_members}}
                   {{#is this.id '!==' ../member_id }} 
                    &nbsp;<img src={{#if this.country.abbr}}"images/countries/{{ toLowerCase this.country.abbr }}.png" title="{{ this.country.name }}"{{else}}"images/countries/___.png" {{/if}}>&nbsp;
                    <a href="#members/{{this.id}}">{{this.rank.abbr}} {{this.full_name}}</a>
                    {{#if this.unit.name}}
                        - Active duty - {{this.position.name}} in <a href="#units/{{this.unit.id}}">{{this.unit.name}} </a>
                        {{#is this.last_name '===' ../../../../last_name}}
                            {{#is this.rank.id ">" "3" }} 
                                <span class='label label-danger'>Requires member to be informed and allow use of the same name!</span>
                            {{else}}
                                <span class='label label-warning'>Dupicate last name! Prefix will be required!</span>
                            {{/is}}
                        {{/is}}
                    {{else}}
                        {{#if this.dis.type}}
                            - <b><a href="#discharges/{{this.dis.id}}">{{this.dis.type}} Discharge</a></b> on {{this.dis.date}}
                        {{else}}
                            {{#if this.enlist.status}}
                                - <b><a href="#enlistments/{{this.enlist.id}}">Enlisted ({{this.enlist.status}})</a></b> on {{this.enlist.date}}
                            {{else}}
                                - Not a member
                            {{/if}}
                        {{/if}}
                    {{/if}}
                    {{#is this.steam_id '===' ../../../../steam_id}}
                     &nbsp;<span class='label label-danger'>&nbsp;DUPLICATE ROID!&nbsp;</span>
                    {{/is}}
                    <br>
                  {{/is}}
                {{/each}}
                </td>
            </tr>
{{/if}}
        </table>
    </div>
</div>
{{/if}}
        

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Comments</h2>
    </div>
    <div class="panel-body">

        {{#if isForumIdVanilla}}
        <div id="vanilla-comments"></div>
        <script type="text/javascript">
            var vanilla_forum_url = "{{ forum.Vanilla.baseUrl }}";
            var vanilla_identifier = "enlistment-{{ id }}";
            var vanilla_category_id = {{ forum.Vanilla.categories.enlistments }};
            {{#if topic_id}}
            var vanilla_discussion_id = {{ topic_id }};
            {{/if}}

            (function() {
                var vanilla = document.createElement('script');
                vanilla.type = 'text/javascript';
                var timestamp = new Date().getTime();
                vanilla.src = vanilla_forum_url + '/js/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(vanilla);
            })();
        </script>
        {{else is forum_id '===' 'Discourse'}}
        <div id="discourse-comments"></div>
        <script type="text/javascript">
            DiscourseEmbed = { discourseUrl: '{{ forum.Discourse.baseUrl }}/',
                               topicId: {{ topic_id }} };
          
            (function() {
              var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
              d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
            })();
          </script>
        {{/if}}
    </div>
</div>
