<td><a href="#events/{{ this.event.id }}">{{dateFormat (time_conv this.event.datetime) format="YYYY-MM-DD HH:mm"}}</a></td>
<td><a href="#units/{{ this.unit.key }}">{{str_replace this.unit.abbr "HQ" ""}}</a></td>
<td class="text-center">
    {{#if this.event.mandatory}}<span class="label label-info">Mandatory</span>{{else}}<span class="label label-default">Non-mandatory</span>{{/if}}
</td>
<td>
    {{ this.event.type }}
</td>
<td>
{{#if this.attended}}
    Attended
{{else}}
    {{#if this.excused}}
        Excused
    {{else}}
        {{#if this.event.mandatory}}<span class="awol"> AWOL </span> {{else}} AWOL {{/if}}
    {{/if}}
{{/if}}
</td>