<div class="panel panel-default">
    <div class="panel-heading"><h2>Weapon Passes [{{this.count}}]</h2></div>
        <div class="panel-body panel-no-padding">
          {{#if passes}}
              <table class="notes_table">
                <tr><th class="center">Status</th><th>From</th><th>To</th><th>Type</th><th>Reason</th></tr>
                {{#each passes}}
                  <tr>
                      <td class="center">
  {{#if (between start_date end_date)}}<span class="active_eloa eloa_label">ACTIVE</span>{{/if}}
  {{#if (eloa_future start_date)}}<span class="future_eloa eloa_label">UPCOMING</span>{{/if}}
                      </td>
                      <td nowrap="nowrap">{{dateFormat this.start_date}}</td>
                      <td nowrap="nowrap">{{dateFormat this.end_date}}</td>
                      <td nowrap="nowrap">{{this.type}}</td>
                      <td>{{bbcode this.reason}}</td>
                  </tr>
        
           
                {{/each }}
              </table>
          {{/if}}
        </div>
</div>