<div class="panel panel-default">
    <div class="panel-heading"><h2>Notes [{{this.count}}]</h2></div>
        <div class="panel-body panel-no-padding">
          {{#if notes}}
              <table class="notes_table">
                <tr><th>Subject</th><th>Author</th><th>Date added</th><th>Level</th></tr>
                {{#each notes}}
                  <tr>
                      <td><a href='#notes/{{this.id}}'>{{this.subject}}</a></td>
                      <td>Posted by <a href="#members/{{ this.author.id }}">{{this.author.short_name}}</a></td>
                      <td>{{dateFormat this.date_add}}</td>
                      <td>{{this.access}}</td>
                  </tr>
        
           
                {{/each }}
              </table>
          {{/if}}
        </div>
</div>