<div class="panel panel-default">
    <div class="panel-heading"><h2>Profile</h2></div>
    <div class="panel-body panel-no-padding">
    
        <table class="table member-profile-table">
            <tr>
                <th>Active Class{{#is classes.length ">" 1}}es{{/is}}</th>
                <td>{{join classes delimiter=", "}}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>
                    {{#if this.country.abbr}}<img src="images/countries/{{ toLowerCase this.country.abbr }}.png" title="{{ this.country.name }}">{{/if}} {{ country.name }}
                </td>
            </tr>
            <tr>
                <th>Steam ID</th>
                <td>{{#if steam_id}}<a href="http://steamcommunity.com/profiles/{{ steam_id }}" target="_blank">{{ steam_id }}</a>{{/if}}</td>
            </tr>
{{#if forum_steam_id.Value}}
            <tr>
                <th>Forums Steam ID</th>
                <td><a href="http://steamcommunity.com/profiles/{{ steam_id }}" target="_blank">{{ forum_steam_id.Value }}</a></td>
            </tr>
{{/if}}
{{#if sig}}
            <tr>
                <th>Signature</th>
                <td><img src='{{sig}}' title="Personal signature" class="signature"></td>
            </tr>
{{/if}}
            <tr>
                <th>Forum Profile</th>
{{#if forum_member_id }}
                <td><a href="{{ forum_profile_url forum_member_id username=short_name_url }}">View Profile</a></td>
{{else}}
                <td><i>No forum account</i></td>
{{/if}}
            </tr>
{{#is this.fin_sum "!==" 0}}
            <tr>
                <th>Amount Donated</th>
                <td>${{ decimals this.fin_sum }}</td>
            </tr>
{{/is}}
        </table>
        
    </div>
</div>