<div class="panel panel-default">
    <div class="panel-heading"><h2>Attendance</h2></div>
    <div class="panel-body panel-no-padding">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th colspan="2">Unit</th>
                        <th>Type</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="rows"></tbody>
            </table>
        </div>
        
        <button class="btn btn-large btn-block more" type="button" data-loading-text="Loading" data-error-text="Error">More</button>
    </div>
</div>