<div class="panel panel-default">
  <div class="panel-heading">
     <h2>Editing member's profile</h2>
  </div>
  <div class="panel-body">
  <form role="form">
    <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" id="first_name" name="first_name" value="{{ first_name }}">
    </div>
    
    <div class="form-group">
        <label for="middle_name">Middle Name</label>
        <input type="text" class="form-control" id="middle_name" name="middle_name" value="{{ middle_name }}">
    </div>
    
    <div class="form-group">
        <label for="name_prefix">Prefix</label>
        <input type="text" class="form-control" id="name_prefix" name="name_prefix" value="{{ name_prefix }}">
    </div>
    
    <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name" name="last_name" value="{{ last_name }}">
    </div>
    
    <div class="form-group">
        <label for="country_id">Country</label>
        <select class="form-control" name="country_id" id="country_id">
            {{#select country.id}}
            <option value="">Select...</option>
            {{#each countries}}
            <option value="{{ this.id }}">{{ this.name }}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    
    <div class="form-group">
        <label for="steam_id">Steam ID</label>
        <input type="text" class="form-control" id="steam_id" name="steam_id" value="{{ steam_id }}">
    </div>
    
    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
  </form>
  </div>
</div>