        <div>
            <ul class="nav nav-tabs qualifications">
                <li><a href=".game_" data-toggle="tab"><img src='images/other/29thPatch.png' title="General Qualifications" ></a></li>
                <li><a href=".game_RS" data-toggle="tab"><img src='images/games/RS.png' title="Rising Storm Qualifications"></a></li>
                <li><a href=".game_DH" data-toggle="tab"><img src='images/games/DH.png' title="Darkest Hour Qualifications"></a></li>
                <li><a href=".game_Arma3" data-toggle="tab"><img src='images/games/A3.png' title="Arma 3 Qualifications"></a></li>
                <li><a href=".game_RS2" data-toggle="tab"><img src='images/games/RS2.png' title="Rising Storm 2: Vietnam Qualifications"></a></li>
                <li><a href=".game_Squad" data-toggle="tab"><img src='images/games/SQ.png' title="Squad Qualifications"></a></li>
            </ul>
        <div class="gametab-content">
        </div>
        </div>
