<ul class="nav navbar-nav">
    <li class="active dropdown">
        <a href="{{ forum.Discourse.baseUrl }}">Forums</span></a>
    </li>   
    <li class="active dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Personnel <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Roster</a></li>
            <li><a href="#calendar">Calendar</a></li>
            <li><a href="#banlogs">Ban Logs</a></li>
            <li><a href="#enlistments">Enlistments</a></li>
            <li><a href="#tps">Training Platoons</a></li>
            <li><a href="#eloas">Extended LOAs</a></li>
            <li><a href="#finances">Finances</a></li>
            <li><a href="#passes">Weapon Passes</a></li>
            <li><a href="#recruits">Recruits</a></li>
            <li><a href="#notes">Notes</a></li>
            <li><a href="#awards">Awards</a></li>
            <li><a href="#membersearch">Member Search</a></li>
        </ul>
    </li>
    <li><a href="{{ wikiUrl }}">Wiki</a></li>    
</ul>

<ul class="nav navbar-nav  navbar-right">

    <li class="dropdown toolbar-icon-bg language-switcher hidden-xs" id="widget-searchbox">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Unit Index <b class="caret"></b> </a>
        
        <div class="dropdown-menu arrow dropdown-menu">
            <ul class="scrollthis">
                {{#each units}}
                <li class="nav-roster-unit"><a href="#units/{{ this.key }}">{{#times this.depth}}&nbsp;&nbsp;{{/times}}{{ this.abbr }}</a></li>
                {{/each}}
            </ul>
        </div>   
    </li>
   {{#if events}}
    <li class="active dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Drills <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          {{#each events}}
            <li>
                <a href="#events/{{id}}">
                    {{#if (past this.datetime)}}Past:{{else}}<b>Upcoming:</b>{{/if}} {{this.unit.key}} {{this.type}}<br>
                    <small>
                        {{dateFormat (time_conv this.datetime)  format="ddd, YYYY-MM-DD HH:mm"}}
                        {{#is attended "===" "1"}}
                            <span class="label label-default">Attended</span>
                        {{/is}}
                        {{#is attended "===" "0"}}
                            {{#is excused "===" "0" }}
                              {{#if (within_24_hours this.datetime)}}
                             <span class="label label-primary">Post LOA</span>
                              {{else}}
                             <span class="label label-danger">AWOL!</span>
                              {{/if}}
                            {{else}}
                             <span class="label label-warning">Excused</span>
                            {{/is}}
                        {{/is}}
                        {{#is attended "===" null}}
                            {{#if (past this.datetime)}}
                                {{#if (within_24_hours this.datetime)}}
                                    <span class="label label-primary">Post LOA</span>
                                {{else}}
                                    <span class="label label-info">Missing AAR</span>
                                {{/if}}
                            {{else}}
                            {{/if}}
                        {{/is}}
                    </small>
                </a>
            </li>
          {{/each}}
        </ul>
    </li>
   {{/if}}

    
    {{#if forum_member_id}}
        {{#unless classes}}
        <li{{#is highlight "===" "enlist"}} class="active"{{/is}} data-highlight="enlist">
        {{#if currently_enlisting}}
            <a href="#enlistments/{{currently_enlisting}}">Currently Enlisting</a>
        {{else}}
            <a href="#enlist">{{#if short_name}}Re-{{/if}}Enlist</a>
        {{/if}}
        </li>
        {{/unless}}
    {{else}}
        <li><a href="{{ forum.Discourse.baseUrl }}{{ forum.Discourse.signInPath }}">Sign In</a></li>
    {{/if}}
    
    {{#if short_name}}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ short_name }} <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#members/{{ id }}">Personnel File</a></li>
            <li><a href="{{ forum_profile_url forum_member_id }}">Forum Profile</a></li>
            {{#if unit.id}}
            <li><a href="#units/{{ unit.key }}">{{ unit.abbr }}</a>
            {{/if}}
        </ul>
    </li>
    {{/if}}
        
</ul>
