<div class="panel panel-default">
    <div class="panel-heading"><h2>Notes</h2></div>
    <div class="panel-body panel-no-padding">
        <div class="table-responsive">
            <table class="notes_table table table-striped">
                <thead>
                  <tr>
                    <th>On Member</th>
                    <th>Subject</th>
                    <th>Author</th>
                    <th>Date added</th>
                    <th>Level</th>
                  </tr>
                </thead>
                <tbody id="rows"></tbody>
            </table>
        </div>
        <button class="btn btn-large btn-block more" type="button" data-loading-text="Loading" data-error-text="Error">More</button>
    </div>
</div>