<div class="panel panel-default" id="{{ key }}">
    <div class="panel-heading">
        <!--<span class="glyphicon glyphicon-plus icon-collapsed"></span>
        <span class="glyphicon glyphicon-minus icon-expanded"></span>-->
        <a data-toggle="collapse" data-parent="#{{ key }}" href="#collapse-{{ key }}">{{ name }}</a>
    </div>
    <div class="panel-collapse collapse {{#is depth ">" 1}}out{{else}}in{{/is}}" id="collapse-{{ key }}">
        <div class="panel-body">
            {{#if members.length}}
            <div class="row">
                <div class="col-xs-8 col-sm-4 abbr"><a href="#units/{{ key }}">{{ abbr }}</a></div>
                <div class="col-xs-4 col-sm-8 count">({{ members.length }})</div>
            </div>
            {{/if}}
            
            {{#each members}}
            <div class="row">
                <div class="col-xs-2 col-sm-1">{{#if this.rank.filename}}<img src="images/ranks/16x16/{{ this.rank.filename }}" title="{{ this.rank.name }}">{{/if}}</div>
                <div class="col-xs-10 col-sm-3"><a href="#members/{{ this.id }}">{{ this.short_name }}</a></div>
                <div class="col-xs-12 col-sm-7">{{ this.position.name }}</div>
                <div class="hidden-xs col-sm-1">{{#if this.country.abbr}}<img src="images/countries/{{ toLowerCase this.country.abbr }}.png" title="{{ this.country.name }}">{{/if}}</div>
            </div>
            {{/each}}
            
            <div class="children"></div>
        </div>
    </div>
</div>
