<div class="dd-handle dd-nodrag">
    <a href="#units/{{ key }}">{{ name }}</a> {{#is classification "===" "Training" }}{{#is key "!==" "TPs" }}&nbsp;&nbsp;<span class='tp-info'> <b>{{game}}</b> / <b>{{timezone}}</b> ({{days}}) </span>{{/is}}{{/is}}
    {{#if members.length}}
    <span class="badge badge-info pull-right">{{ members.length }}</span>
    {{/if}}
</div>

{{#if staff_positions}}
<ol class="dd-list">
  {{#each staff_positions}}
    <li>
<b>{{this.position}}</b><br>
    {{#each members}}
        <div class="roster-staff-unit">
            {{#if this.rank.filename}}<img src="images/ranks/16x16/{{ this.rank.filename }}" title="{{ this.rank.name }}">{{/if}}
            &nbsp;<img src={{#if country.abbr}}"images/countries/{{ toLowerCase this.country.abbr }}.png" title="{{ this.country.name }}"{{else}}"images/countries/___.png" {{/if}}>&nbsp;
            <a href="#members/{{ this.member.id }}">{{ this.member.short_name }}</a> 
            <span class="roster-unit">{{#is eloa ">" "0" }} (ELOA) {{/is}}{{#is pass "!==" "0" }} <b>(Weapon Pass)</b> {{/is}}</span><br>
        </div>
    {{/each}}
    </li>
  {{/each}}
</ol>
{{else}}
<ol class="dd-list">
{{#if members.length}}
    {{#each members}}
    <li>
        {{#if ../attendance}}
            <label>
                <input type="checkbox" name="attendance" value="{{ this.member.id }}"{{#if this.attended}} checked="checked"{{/if}}>
                {{ this.member.short_name }}
                {{#if this.excused}}<span class="label label-warning">Excused</span>{{/if}}
            </label>

        {{else}}
            {{#if this.rank.filename}}<img src="images/ranks/16x16/{{ this.rank.filename }}" title="{{ this.rank.name }}">{{/if}}
            &nbsp;<img src={{#if country.abbr}}"images/countries/{{ toLowerCase this.country.abbr }}.png" title="{{ this.country.name }}"{{else}}"images/countries/___.png" {{/if}}>&nbsp;
            <a href="#members/{{ this.member.id }}">{{ this.member.short_name }}</a> 
            <span class="roster-unit">{{#is eloa ">" "0" }} (ELOA) {{/is}}{{#is pass "!==" "0" }} <b>(Weapon Pass)</b> {{/is}}{{ position.name }}</span>
        {{/if}}
    </li>
    {{/each}}
{{/if}}
</ol>
{{/if}}
