<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Service Record</h2></div>
            <div class="panel-body">
            
{{#if duration}}
<h2 class="duration">{{duration duration}} of service</h2>
{{/if}}


            
{{#each items}}
    <h3{{#if this.beforeDischarge}} class="before-discharge"{{/if}}>{{#is this.date "!==" "undefined"}}{{dateFormat this.date}}{{else}}Unknown{{/is}}</h3>
    
    {{#each this.items }}
        {{#if this.position}}
        <div class="info-tiles tiles-info service-record-assignment{{#if ../../beforeDischarge}} before-discharge{{/if}}">
            <div class="tiles-body">
                <div class="pull-left"><i class="fa fa-exchange"></i></div>
                <div class="pull-right">
                    Assigned to <a href="#/units/{{ this.unit.key }}" title="{{this.unit.name}}">
                    {{#is this.unit.classification "===" "Staff" }}
                        {{ this.unit.name}}
                    {{else}}
                        {{ this.unit.abbr }}
                    {{/is}}</a> as a {{ this.position.name }}
                    {{#is this.unit.classification "===" "Staff" }}
                        {{#if this.end_date}} 
                            (until {{dateFormat this.end_date}})
                        {{/if}}
                    {{/is}}
                  
                    {{#if ../../../allowedTo.editAssignment}}
                        <a href="#/assignments/{{ this.id }}/edit"><i class="fa fa-edit"></i></a>
                    {{/if}}
                    {{#if this.topic_url}}
                        &nbsp;&nbsp;<a href="{{ this.topic_url  }}"><span class="fa fa-list-alt"></span></a>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/if}}
        
        {{#if this.new_rank}}
        <div class="info-tiles tiles-orange service-record-promotion{{#if ../../beforeDischarge}} before-discharge{{/if}}">
            <div class="tiles-body">
                <div class="pull-left">
                  {{#is new_rank.name "!==" "Cadet" }} 
                    <img src="images/ranks/16x16/{{ this.new_rank.filename }}" title="{{ this.new_rank.name }}">
                  {{/is}}
                </div>
                <div class="pull-right">    
                    Rank changed to {{ this.new_rank.name }}
                    {{#if this.topic_url}}
                        &nbsp;&nbsp;<a href="{{ this.topic_url  }}"><span class="fa fa-list-alt"></span></a>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/if}}
        
        {{#if this.award}}
        <div class="info-tiles tiles-sky service-record-awarding{{#if ../../beforeDischarge}} before-discharge{{/if}}">
            <div class="tiles-body">
                <div class="pull-left">
                    <img src="{{ this.award.bar }}" title="{{ this.award.name }}">
                </div>
                <div class="pull-right">
                Awarded {{ this.award.name }}
                    {{#if this.topic_url}}
                        &nbsp;&nbsp;<a href="{{ this.topic_url  }}"><span class="fa fa-list-alt"></span></a>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/if}}
        
        {{#if this.status}}
        <div  class="info-tiles tiles-indigo service-record-enlistment{{#if ../../beforeDischarge}} before-discharge{{/if}}">
            <div class="tiles-body">
                <a href="#enlistments/{{ this.id }}" class="pull-left"><i class="fa fa-file-text"></i></a>
                <div class="pull-right">
                    Enlisted{{#if this.unit_id}} in the {{ this.unit.abbr }}{{/if}}
                    {{#is this.status "!==" 'Accepted'}}
                      ({{this.status}})
                    {{/is}}
                    {{#if this.topic_url}}
                        &nbsp;&nbsp;<a href="{{ this.topic_url  }}"><span class="fa fa-list-alt"></span></a>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/if}}
        
        {{#if this.type}}
        <div class="info-tiles tiles-success service-record-discharge{{#if ../../beforeDischarge}} before-discharge{{/if}}">
            <div class="tiles-body">
                <a href="#discharges/{{ this.id }}" class="pull-left"><i class="fa fa-minus-square"></i></a>
                <div class="pull-right">
                    {{#is this.type "===" 'Honorable'}}Honorably{{/is}}
                    {{#is this.type "===" 'Dishonorable'}}Dishonorably{{/is}}
                    {{#is this.type "===" 'General'}}Generally{{/is}}
                    Discharged
                    {{#if this.topic_url}}
                        &nbsp;&nbsp;<a href="{{ this.topic_url  }}"><span class="fa fa-list-alt"></span></a>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/if}}
        
        {{#if this.amount_received}}
        <div class="info-tiles tiles-primary service-record-donation{{#if ../../beforeDischarge}} before-discharge{{/if}}">
            <div class="tiles-body">
                <div class="pull-left"><i class="fa fa-money"></i></div>
                <div class="pull-right">
                    Donated ${{ decimals this.amount_received }}
                    {{#if this.topic_url}}
                        <a href="{{ this.topic_url  }}"><span class="fa fa-list-alt"></span></a>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/if}}
        
        {{#if this.demerit_type}}
        <div class="info-tiles tiles-inverse service-record-demerit{{#if ../../beforeDischarge}} before-discharge{{/if}}">
            <div class="tiles-body">
                <a href="#demerits/{{ this.id }}" class="pull-left"><i class="fa fa-file-text-o"></i></a>
                <div class="pull-right">
                    Received a demerit
                    {{#if this.topic_url}}
                        &nbsp;&nbsp;<a href="{{ this.topic_url  }}"><span class="fa fa-list-alt"></span></a>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/if}}
    {{/each}}
{{/each}}
            </div>
        </div>
    </div>
    <div class="col-md-6">
    {{#if steam_id}}
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Service Coat</h2></div>
            <div class="panel-body">
                <a href="{{ coatDir }}/{{ steam_id }}.png"><img src="{{ coatDir }}/{{ steam_id }}.png" class="coat"></a>
            </div>
        </div>
    {{/if}}
    </div>
</div>
