<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Training Platoons</h2>
        <div class="panel-ctrls">
            <div class="btn-group" id="filter-status">
                <button type="button" class="btn btn-default btn-status" data-status="all">All</button>
                <button type="button" class="btn btn-default btn-status active" data-status="activated">Active</button>
            </div>
            <div class="btn-group" id="filter-game">
                <button type="button" class="btn btn-default btn-game active" data-game="">All</button>
                <button type="button" class="btn btn-default btn-game" data-game="RS">RS</button>
                <button type="button" class="btn btn-default btn-game" data-game="DH">DH</button>
                <button type="button" class="btn btn-default btn-game" data-game="Arma 3">A3</button>
                <button type="button" class="btn btn-default btn-game" data-game="RS2">RS2</button>
                <button type="button" class="btn btn-default btn-game" data-game="Squad">SQ</button>
            </div>
            <div class="btn-group" id="filter-timezone">
                <button type="button" class="btn btn-default btn-timezone active" data-timezone="">Any</button>
                <button type="button" class="btn btn-default btn-timezone" data-timezone="EST">EST</button>
                <button type="button" class="btn btn-default btn-timezone" data-timezone="PST">PST</button>
                <button type="button" class="btn btn-default btn-timezone" data-timezone="GMT">GMT</button>
            </div>
        </div>
        
    </div>
    <div class="panel-body panel-no-padding">
    
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>TP #</th>
                        <th>Game</th>
                        <th>Timezone</th>
                        <th class="text-center">Status</th>
                        <th>Dates of BCT</th>
                        <th>No of recruits</th>
                        <th>Avg. attendance</th>
                        <th>Days</th>
                    </tr>
                </thead>
                <tbody id="rows"></tbody>
            </table>
        </div>
        
        <button class="btn btn-large btn-block more" type="button" data-loading-text="Loading" data-error-text="Error">More</button>
    </div>
</div>
