<div class="panel panel-default">
    <div class="panel-heading"><h2>Training Platoons</h2></div>
    <div class="panel-body panel-no-padding">
    
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>TP #</th>
                        <th>Game</th>
                        <th>Timezone</th>
                        <th class="text-center">Active</th>
                        <th>Dates of BCT</th>
                        <th>No of recruits</th>
                    </tr>
                </thead>
                <tbody id="rows"></tbody>
            </table>
        </div>
        
        <button class="btn btn-large btn-block more" type="button" data-loading-text="Loading" data-error-text="Error">More</button>
    </div>
</div>