<td nowrap="nowrap"><a href='#tps/{{str_replace abbr " " "" }}'>{{ abbr }}</a></td>
<td nowrap="nowrap">{{ game }}</td>
<td nowrap="nowrap">{{ timezone }}</td>
<td class="text-center" nowrap="nowrap">
    <span class="eloa_label
    {{#is active ">" "0"}}
        {{#is (between start_date end_date) }}
            current-tp">Current
        {{else}}
            {{#is (past end_date)}}
                current-tp">Ended
            {{else}}
                active-tp">Active
            {{/is}}
        {{/is}}
    {{else}}
        nonactive-tp">
        {{#is (past end_date) }}
            Past
        {{else}}
            Upcoming
        {{/is}}
    {{/is}}
    </span>
</td>
<td nowrap="nowrap">{{ days }}</td>
<td>{{ member_count }}</td>
<td>{{#if avg}}{{ avg }}%{{else}}N/A{{/if}}</td>