{{#each items}}
<div class="col-md-6" id="col0">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>AOCCs</h2>
    </div>
    <div class="panel-body">
     {{#each aoccs}}
      <h4><a href="#members/{{ this.member.id }}">{{ this.member.short_name }}</a> ({{overdue}} days overdue)</h4>
      <ul>
        {{#is aocc_count "<" aoocs_due}}
        <li> Army of Occupation Medal - current: <b>{{aocc_count}}</b>; should have: <b><big>{{aoocs_due}}</big></b> </li>
        {{/is}}
        {{#is ww1v_count "<" ww1vs_due}}
        <li> World War I Victory Medal - current: <b>{{ww1v_count}}</b>; should have: <b><big>{{ww1vs_due}}</big></b> </li>
        {{/is}}
      </ul>
     {{/each}}
    </div>
  </div>
</div>
<div class="col-md-6" id="col1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>CABs</h2>
    </div>
    <div class="panel-body">
      <small>Note: no CAB awards are to be awarded without prior notification from Senior Recruitment Officer.</small><hr>
     {{#each cabs}}
      <ul>
        <li>For recruiting <b>{{rec_cnt}}</b> people <a href="#members/{{ this.member.id }}/recruits">{{ this.member.short_name }}</a> 
          should have <b>CAB {{due_cab_level}}</b><br>
          &nbsp;&nbsp;&nbsp;(Current: {{#is current_cab_lvl "===" "0"}} none{{else}} CAB {{current_cab_lvl}}{{/is}}, last enlistment on <b>{{last_enl_date}}</b>).
      </ul>
     {{/each}}
    </div>
  </div>
</div>
{{/each}}
