<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Alerts</h2>
    </div>
    <div class="panel-body">
    {{#each items}}
      <h3>Missing AOCCs and WW1Vs ({{aoccs.length}})</h3>
      <ul>
      {{#each aoccs}}
        {{#is aocc_count "<" aoocs_due}}
        <li><a href="#members/{{ this.member.id }}">{{ this.member.short_name }}</a> has <b>{{aocc_count}}</b> Army of Occupation Medal(s) and should have <b><big>{{aoocs_due}}</big></b> </li>
        {{/is}}
        {{#is ww1v_count "<" ww1vs_due}}
        <li><a href="#members/{{ this.member.id }}">{{ this.member.short_name }}</a> has <b>{{ww1v_count}}</b> World War I Victory Medal(s) and should have <b><big>{{ww1vs_due}}</big></b> </li>
        {{/is}}
      {{/each}}
      </ul>
    {{/each}}
    </div>
</div>