<div class="panel panel-default">
    <div class="panel-heading"><h2>Extended LOAs</h2></div>
    <div class="panel-body panel-no-padding">
    
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Member</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th class="col-md-4">Reason</th>
                    </tr>
                </thead>
                <tbody id="rows"></tbody>
            </table>
        </div>
        
        <button class="btn btn-large btn-block more" type="button" data-loading-text="Loading" data-error-text="Error">More</button>
    </div>
</div>