<div class="panel panel-default">
    <div class="panel-heading">
        <h2>{{ weapon }}</h2>
        <div>
            <ul class="nav nav-tabs pull-right">
            {{#is badges.length ">" "1"}}
                {{#each badges}}
                <li><a href=".{{ str_replace ../game " " "" }}{{ str_replace ../weapon " " "" }}{{ str_replace this.badge " " "" }}" data-toggle="tab">{{ this.badge }}</a></li>
                {{/each}}
            {{/is}}
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <div class="tab-content">
        </div>
    </div>
</div>