<li class="qualification">
    {{#if qualification}}
        <i class="fa fa-check-square{{#if allowedTo.addQualification}} cursor{{/if}}" data-standard-id="{{ id }}"></i>
    {{else}}
        <i class="fa fa-square{{#if allowedTo.addQualification}} cursor{{/if}}" data-standard-id="{{ id }}"></i>
    {{/if}}
    {{ description }}
    
    {{#if qualification}}
    <small>
        {{#if qualification.date}}
            {{dateFormat qualification.date}}
        {{/if}}
        
        {{#if qualification.author.short_name}}
            by {{ qualification.author.short_name }}
        {{/if}}
    </small>
    {{/if}}
</li>