<ul class="nav navbar-nav">
    <li><a href="{{ forum.Vanilla.baseUrl }}">Forums</a></li>
    <li class="active dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Personnel <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Roster</a></li>
            <li><a href="#calendar">Calendar</a></li>
            <li><a href="#enlistments">Enlistments</a></li>
            <li><a href="#eloas">Extended LOAs</a></li>
            <li><a href="#finances">Finances</a></li>
        </ul>
    </li>
    <li><a href="{{ wikiUrl }}">Wiki</a></li>    
</ul>

<ul class="nav navbar-nav  navbar-right">

    <li class="dropdown toolbar-icon-bg language-switcher hidden-xs" id="widget-searchbox">
        <a href="#" class="dropdown-toggle tooltips" data-toggle="dropdown"><span class="icon-bg"><i class="fa fa-fw fa-users"></i></span></a>
        
        <div class="dropdown-menu arrow dropdown-menu">
            <ul class="scrollthis">
                {{#each units}}
                <li class="nav-roster-unit"><a href="#units/{{ this.id }}">{{ this.abbr }}</a></li>
                    {{#each this.members}}
                    <li><a href="#members/{{ this.member.id }}">{{ this.member.short_name }}</a></li>
                    {{/each}}
                {{/each}}
            </ul>
        </div>
    </li>
    
    {{#if forum_member_id}}
        {{#unless classes}}
        <li{{#is highlight "===" "enlist"}} class="active"{{/is}} data-highlight="enlist"><a href="#enlist">{{#if short_name}}Re-{{/if}}Enlist</a></li>
        {{/unless}}
    {{else}}
        <li><a href="{{ forum.Vanilla.baseUrl }}{{ forum.Vanilla.signInPath }}">Sign In</a></li>
    {{/if}}
    
    {{#if short_name}}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ short_name }} <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#members/{{ id }}">Personnel File</a></li>
            <li><a href="{{ forum.Vanilla.baseUrl }}{{ sprintf forum.Vanilla.profilePath forum_member_id short_name }}">Forum Profile</a></li>
            {{#if unit.id}}
            <li><a href="#units/{{ unit.key }}">{{ unit.abbr }}</a>
            {{/if}}
        </ul>
    </li>
    {{/if}}
        
</ul>