body {
    padding-top: 60px;
    padding-bottom: 40px;
}

/* Navbar */
.navbar-brand {
    background: url("../images/site-logo.png") no-repeat -35px top;
}
.nav-roster-unit {
    font-weight: bold;
}
        
/* Roster */
.dd-list, .dd-list .dd-list {
    padding-left: 0 !important;
}
@media (min-width: 768px) {
    .dd-list, .dd-list .dd-list {
        padding-left: 15px !important;
    }
}
.roster-unit {
    font-size: 80%;
}
.qualification small {
    color: #999999;
}
.cursor {
    cursor: pointer;
}

/* Collapsible qualifications */
/*.roster .depth-2 > div:not(.header-row) {
    display: none;
}*/
.weapon .collapsed > div:not(.header-row) {
    display: none;
}
.weapon .collapsed > .header-row > .header > .icon-expanded {
    display: none;
}
.weapon .weapon:not(.collapsed) > .header-row > .header > .icon-collapsed {
    display: none;
}

/* Member Profile */
.member .title {
    font-size: 200%;
    font-weight: bold;
}
.member #page {
    margin-top: 20px;
}
.member .assignments {
    list-style-type: none;
    padding: 0;
}

/* Service Record */
.member .info-tiles .tiles-body, .member .info-tiles .tiles-body i {
    font-size: 16px;
}
.service-record-assignment a {
    color: inherit;
    text-decoration: underline;
}

.before-discharge, .before-discharge div div {
    text-decoration: line-through;
}

/* Service Coat */
.coat { max-width: 100%; }

/* Unit Profile */
.unit .title {
    font-size: 200%;
    font-weight: bold;
}
.unit #page {
    margin-top: 20px;
}
.unit .title abbr {
    color: #999999;
    font-size: 65%;
    font-weight: normal;
}

.badge-inactive {
    opacity:0.2;
}

/* LOA Buttons */
#loa-buttons.loa-post #loa-cancel {
    display: none;
}
#loa-buttons.loa-cancel #loa-post {
    display: none;
}

/* NProgress */
#nprogress .bar,
#nprogress .spinner {
    margin-top: 50px;
    z-index: 0;
}

/* Calendar */
.fc-event {
    cursor: pointer;
    font-size: 100%;
}

/* Flash / Error */
#flash {
    position: fixed;
    top: 60px;
    /*width: 100%;*/
    text-align: center;
}
#flash .alert {
    display: inline-block;
}

#vanilla-comments iframe {
    width: 100%;
    min-height: 500px;
    border: none;
    margin: 0;
    padding: 0;
}

/* Finances */
.finances-credit {
    color: green;
}
.finances-debit {
    color: red;
}

/* Event AAR */
.reporter {
    font-style: italic;
    border-top: 1px #333 dashed;
    margin-top: 10px;
}

.awol {
    color: red;
}

#forums-link {
    margin-left: 20px;
}