.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

coats/*

.env

vendor

composer.phar
.elasticbeanstalk/
temp

.c9